@model WebApplication.Models.FeatResultModel

@foreach (var feat in Model.Feats)
{

    <div class="col-md-12 feat-block">
        <a href="@feat.Link" target="_blank">
            <strong>Feat: </strong> @feat.Name
        </a> <br />
        <strong>Prerequisites: </strong>
        @foreach (var p in feat.Prerequisites)
        {
            @if (p != feat.Prerequisites.Last())
            {
                @p.ToString();<label>, </label>
                continue;
            }
            @p.ToString();
        }<br />
        <strong>Description: </strong> @feat.Description
    </div>

}